<!DOCTYPE html>
<html ng-app="twitterApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Twitter Project</title>
	
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous"> -->
	<link rel="stylesheet" href="bootstrap.css">
	<link rel="stylesheet" href="assets/css/style.css">

	<!-- // <script type="text/javascript" src="https://code.jquery.com/jquery-git2.min.js"></script> -->
	 <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script> -->
	<!-- // <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script> -->
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="angular-route.min.js"></script>
	<script type="text/javascript" src="controller.js"></script>

</head>
<body ng-controller="twitterController">
	<div class="intro">
		<div>
			<div class="logo">

				<div id="title">
					<h1>Trump Tweets</h1>
				</div>

				<div id="mexican-link">
					<h3>The Donald Loves Mexicans!</br> Open our Borders</h3>
					<button class="btn btn-danger btn-sm" ng-click=""><img src="http://i1.wp.com/fusiondotnet.files.wordpress.com/2015/06/150618-trump-mexico.png?resize=1200%2C630&quality=80&strip=all"></button>	
				</div>

				<div id="trump-image">
					<img id="trump-logo" src="http://static6.businessinsider.com/image/55918b77ecad04a3465a0a63/nbc-fires-donald-trump-after-he-calls-mexicans-rapists-and-drug-runners.jpg">
				</div>

				<div id="women-link">
					<h3>The Donald Loves Women!</br> They're bleeding from everywhere!</h3>
					<button class="btn btn-danger btn-sm" ng-click=""><img src="http://freethetampons.org/assets/images/tampon-side-angle.png"></button>	
				</div>
				
			</div>
		</div>
	</div>

		<div id="stacked-tweets" ng-repeat="tweet in trumpQuotes">
			<div class="tweet-message" ng-style="{'background-image':'linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.01)),url({{tweet.user.profile_banner_url}})'}">

				<div class="screen-name">{{tweet.user.screen_name}}: </div>
				<div class="text">{{tweet.text}}</div>
			</div>
						
	</div>
	


</body>
</html>




















