/* line 1, ../compass/sass/style.scss */
.intro {
  background-color: skyblue;
  overflow: hidden;
  color: white;
}
/* line 5, ../compass/sass/style.scss */
.intro #title {
  text-align: center;
}
/* line 8, ../compass/sass/style.scss */
.intro #trump-image {
  margin-left: 10%;
  float: left;
  width: 25%;
}
/* line 12, ../compass/sass/style.scss */
.intro #trump-image img {
  width: 100%;
  margin-bottom: 5%;
}
/* line 17, ../compass/sass/style.scss */
.intro #mexican-link {
  transform: rotate(-10deg);
  width: 200px;
  height: 100px;
  float: left;
  margin-left: 15%;
}
/* line 23, ../compass/sass/style.scss */
.intro #mexican-link img {
  width: 200px;
}
/* line 27, ../compass/sass/style.scss */
.intro #women-link {
  transform: rotate(10deg);
  width: 250px;
  height: 100px;
  float: left;
  margin-left: 10%;
}
/* line 33, ../compass/sass/style.scss */
.intro #women-link img {
  width: 150px;
}

/* line 39, ../compass/sass/style.scss */
body {
  font-size: 40px;
  text-align: center;
}
/* line 42, ../compass/sass/style.scss */
body #stacked-tweets {
  height: 250px;
}
/* line 44, ../compass/sass/style.scss */
body #stacked-tweets #screen-name {
  color: red;
  text-decoration: underline;
}
/* line 48, ../compass/sass/style.scss */
body #stacked-tweets #text {
  font-weight: bold;
}
